<!DOCTYPE html>
<html lang="es">

    <%- include partials/head -%>

    <body data-barba="wrapper">
        <main class="wrapper art" data-barba="container" data-barba-namespace="art">

            <%- include partials/corners -%>

            <div class="content container-fluid">

                <div class="row h-100 justify-content-center overflow-md-auto detail-view">
                    <div class="col-md-6 art-column d-flex text-center" oncontextmenu="return false;">
                        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                            class="swiper-container mySwiper">
                            <div class="swiper-wrapper">
                                {{#each art.images}}
                                <div class="swiper-slide">
                                    <div class="swiper-zoom-container">
                                        <img src="{{this}}" alt="{{art.title}}" />
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 d-flex flex-column">
                        <div class="row flex-grow-1 min-h-0 overflow-auto">
                            <div class="col-12">
                                <h1 class="art-title">{{art.title}}</h1>

                                <div class="row">
                                    <div class="col-12">

                                        <h5 class="text-center">Description</h5>
                                        <p class="text-center text-shadow">
                                            {{art.description}}
                                        </p>

                                        {{#if art.technicalDetails}}
                                        <h5 class="text-center">Technical Details</h5>
                                        <p class="text-center text-shadow">
                                            {{art.technicalDetails}}
                                        </p>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-10 buttons-container mt-4 d-flex justify-content-around">
                                <div class="text-center">
                                    <a class="arrow text-decoration-none {{#if previousHidden}}invisible{{/if}}"
                                        title="Previous art"
                                        href="art.html?id={{previousId}}">
                                        <img src="<%= require('../assets/images/art-previous-button.png') %>" alt="Previous art">
                                    </a>
                                </div>
                                <div class="text-center flex-grow-2">
                                    <a class="return text-decoration-none" title="Return to the gallery" href="gallery.html?category={{gallery}}">
                                        <img src="<%= require('../assets/images/art-return-button.png') %>" alt="Return to Gallery">
                                    </a>
                                </div>
                                <div class="text-center">
                                    <a class="arrow text-decoration-none {{#if nextHidden}}invisible{{/if}}"
                                        title="Next art"
                                        href="art.html?id={{nextId}}">
                                        <img src="<%= require('../assets/images/art-next-button.png') %>" alt="Next art">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </main>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
