<!DOCTYPE html>
<html lang="es">

    <%- include partials/head -%>

    <body data-barba="wrapper">
        <main class="wrapper art" data-barba="container" data-barba-namespace="art">

            <%- include partials/corners -%>

            <div class="container position-relative d-flex align-items-stretch">
                <div class="row detail-view">
                    <div class="col-lg-7 art-column d-flex text-center">
                        <div class="art-container toggle-zoom">
                            <img id="art-img"
                                src="{{art.fullSize}}"
                                alt="{{art.title}}"
                                class="figure-img img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-5 d-flex flex-column hide-on-full-size">
                        <div class="row flex-grow-1">
                            <div class="col-12">
                                <h1 class="display-4 art-title">{{art.title}}</h1>

                                {{#if art.technicalDetails}}
                                <h5 class="text-center">Technical Details</h5>
                                <p class="text-center text-shadow">
                                    {{art.technicalDetails}}
                                </p>
                                {{/if}}

                                <h5 class="text-center">Description</h5>
                                <p class="text-center text-shadow">
                                    {{art.description}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 buttons-container text-center">
                                <a class="arrow text-decoration-none {{#if previousHidden}}invisible{{/if}}"
                                    title="Previous art"
                                    href="art.html?id={{previousId}}">
                                    <img src="<%= require('../assets/images/art-previous-button.png') %>" alt="Previous art">
                                </a>
                                <a class="return text-decoration-none" title="Return to the gallery" href="gallery.html?category={{gallery}}">
                                    <img src="<%= require('../assets/images/art-return-button.png') %>" alt="Return to Gallery">
                                </a>
                                <a class="arrow text-decoration-none {{#if nextHidden}}invisible{{/if}}"
                                    title="Next art"
                                    href="art.html?id={{nextId}}">
                                    <img src="<%= require('../assets/images/art-next-button.png') %>" alt="Next art">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row flex-grow-1 justify-content-center overflow-auto full-size-view d-none">
                    <div class="col-12 art-column d-flex text-center">
                        <div class="art-container toggle-zoom">
                            <img id="art-img"
                                src="{{art.fullSize}}"
                                alt="{{art.title}}"
                                class="figure-img img-fluid">
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
