<!DOCTYPE html>
<html lang="es">

    <%- include partials/head -%>

    <body data-barba="wrapper">
        <main class="wrapper bio" data-barba="container" data-barba-namespace="bio">

            <%- include partials/background -%>

            <div class="content container">

                <div class="d-flex flex-column h-100">
                    <div class="row">
                        <div class="col-12">
                            <div class="title" title="Leav Café - Ilustrator & Comic Artist">
                                <h1 class="d-none">Leav Café - Ilustrator & Comic Artist - Bio</h1>
                            </div>
                        </div>
                    </div>

                    <%- include partials/links -%>

                    <div class="row flex-shrink-1 justify-content-center min-h-0">
                        <div class="col-12 col-xl-9 h-100 text-shadow pt-1 overflow-auto text-justify">

                            <div class="row">
                                <div class="col-12">
                                    <h5 class="text-center">Welcome to Leavcafe's Portfolio!</h5>
                                    <p>
                                        First a and foremost this web page will serve the purpose of portfolio and secondly, but not less important, a space for original content creation.
                                        A way to showcase the authors illustration and comic
                                        skills with the objective of attracting new and challenging work opportunities, such as:
                                    </p>
                                    <ul>
                                        <li>Illustrations for newspapers and magazines.</li>
                                        <li>Illustrations for books and books covers.</li>
                                        <li>Art for advertisement and packaging.</li>
                                        <li>Comic book creation.</li>
                                        <li>Concept art and character design.</li>
                                    </ul>
                                    <p>
                                        Through this little corner of the internet, you will meet different original characters. These characters represent the author as mascots, not only that, but they will be featured in original comics.
                                        Lasty, this website is a safe place for anyone who enjoys art, illustration and storytelling, so enjoy your stay and thank you for stopping by!
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <h5 class="text-center">Personal Information</h5>

                                    <ul>
                                        <li><b>Name</b>: Luis Avila (Leav Café).</li>
                                        <li><b>Nationality</b>: Colombia.</li>
                                        <li><b>Gender</b>: Male.</li>
                                        <li><b>Profession</b>: Illustrator and comic book artist.</li>
                                        <li><b>Work Experience</b>: Video games, illustration, books, graphic design and comics.</li>
                                    </ul>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <h5 class="text-center">Credits</h5>

                                    <ul class="text-left">
                                        <li>Every art piece in this site was created by <b>Leav Cafe</b></li>
                                        <li>This web site was coded by <a href="https:\\www.linkedin.com/in/leandro-galluppi">Leandro Galluppi</a></li>
                                    </ul>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <h5 class="text-center">Leavcafe's Story</h5>
                                    <p>
                                        As the lion in the stars watched, a child was born, this child showed promise in the field of art and so,
                                        as he grew up, his talent blossomed into a formidable skill.  In his childhood, his classmates and friends
                                        knew him as “the one that could draw”. He would fill every page of his notebooks with all kinds of drawings
                                        and when the pages had no space in them, he would draw in every surface he could find. His teachers
                                        weren't very happy about it, so he was frequently reprimanded for his actions.
                                    </p>

                                    <p>
                                        During his teen age years, as the blunt touch of puberty transitioned him into adulthood,
                                        the teen was exposed to all kinds of media: Video games, animations and fine art,
                                        but illustration and comics left a huge impact in his soul.
                                    </p>

                                    <p>
                                        It was in this flurry of information and art that two characters where born, they were named: Liv and Estella.
                                        Initially, they were just some cool concepts brought to life in a notebook during math class.
                                        But soon they became synonyms of the teen's desire to become an artist. These characters would
                                        evolve and grow through the years, living in his mind, adventuring beside him in his dreams and
                                        encouraging him to never give up.
                                    </p>

                                    <p class="text-center">
                                        <img class="img-fluid paragraph-separator" src="<%= require('../assets/images/bio-paragraph-separator-1.png') %>" alt="Portrait of Liv" />
                                        <img class="img-fluid paragraph-separator" src="<%= require('../assets/images/bio-paragraph-separator-2.png') %>" alt="Portrait of Estella" />
                                    </p>

                                    <p>
                                        The teen age years went by, and he had to go to college. The now young man decided to follow a career in art,
                                        specifically illustration, but his opportunities to follow such “unique” goals were few to say the least. Despite
                                        the odds, as he looked and looked, he found an amazing opportunity. His skills landed him a significantly generous
                                        scholarship abroad. The university, although expensive, allowed him to set a course to follow.
                                    </p>

                                    <p>
                                        Those were some long months of preparations filled with expectation. He had heard about these places from lucky ones,
                                        and he was about to become one of them. The day was drawing near, anxious but happy, he waited. Things were moving
                                        apace, but then...
                                    </p>

                                    <p>
                                        On a gray and chilly afternoon, he was met with terrible news. Due to superior forces beyond his control, the support
                                        he needed (financially speaking) to live in a foreign country, could not be granted. Problems arose and sadly, he lost
                                        his opportunity. Try as he might, he could not receive the aid he needed once again...he felt defeated.
                                    </p>

                                    <p>
                                        Despite everything, Liv and Estella were always by his side, encouraging him to keep trying.
                                    </p>

                                    <p>
                                        Some time passed, and without him looking, a second chance showed itself, at first, memories of his previous failure
                                        made him hesitant. The circumstances where not the same, the place in question was quite different than expected, but
                                        unlike last time, things were possible to a higher degree.
                                    </p>

                                    <p>
                                        Soon, his dream of pursuing an art career finally came, it wasn't how he envisioned it, but it was happening.  Maybe
                                        it was what he needed, not what he wanted, maybe. Be that as it may, a new chapter in his life was beginning.
                                    </p>

                                    <p>
                                        He tasted the bittersweetness of leaving home behind to pursue a dream. It was challenging, but liv and Estella
                                        bolstered him to continue fighting. He also had the support of his friends and family, and without them, this
                                        wouldn't have been possible.
                                    </p>

                                    <p>
                                        This new adventure gave rise to new faces that would accompany liv and Estella. Companions? Enemies? These new
                                        characters would then help expand the universe that the duo would find themselves in. Their bubble was waiting
                                        to burst into a universe. But college exams took priority.
                                    </p>

                                    <p class="text-center">
                                        <img class="img-fluid paragraph-separator" src="<%= require('../assets/images/bio-paragraph-separator-3.png') %>" alt="Portrait of Tennodogu" />
                                        <img class="img-fluid paragraph-separator" src="<%= require('../assets/images/bio-paragraph-separator-4.png') %>" alt="Portrait of Gingamaru" />
                                    </p>

                                    <p>
                                        Along the way he tackled many hardships, doubts, horrible people, but he also made great friends, created wonderful
                                        memories and even found love. All these experiences will influence new stories and new characters, all fueling
                                        his motivation to keep drawing.
                                    </p>

                                    <p>
                                        After overcoming some setbacks, college was over and finally came the time to prove that all the knowledge he
                                        had acquired could lead him to a prosperous future. In the beginning, things started slowly, but he could feel
                                        the experience leading him to new challenges. however, as he moved forward, he realized that the path he was
                                        walking was not the one he intended to follow.
                                    </p>

                                    <p>
                                        It was in those moments, where difficult choices needed to be made, that the cold and unforgiving side of life
                                        descended upon him as a ravenous beast. Life was showing its dark side and through the fear, the errors and
                                        terrors, a new character was born. A character, that would stir the course of Liv and Estella’s story to
                                        glamorously cosmic proportions.
                                    </p>

                                    <p class="text-center">
                                        <img class="img-fluid paragraph-separator-cosmagia" src="<%= require('../assets/images/bio-paragraph-separator-5.png') %>" alt="Portrait of Cosmagia" />
                                    </p>

                                    <p>
                                        After a few years, he finally thought that he was on his way, but things soon turned out to be far from ideal.
                                        He was, in a way, at the very beginning once more.  At this point, the only thing supporting his pursue of
                                        dreams was luck, love and trust.
                                    </p>

                                    <p>
                                        Many cold nights he wished that things were different, better. The thought of abandoning art resounded woefully
                                        in his heart, but walking a different path would mean the betrayal of everyone who believed in him. Giving
                                        up was not an option. There were days in which the expectations of others were too much, his family and
                                        friends waiting for the support given to him to bear fruit. But probably, the heaviest weight he has to
                                        carry around his shoulders, is the expectations he has for himself. Hopes and dreams can be a very heavy
                                        burden.
                                    </p>

                                    <p class="mb-5">
                                        And so, through this day, he continues to work towards that future. Will his dreams transform into reality?
                                        Will Liv and Estella be able to tell their tale? Only the stars know.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </main>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
