<!DOCTYPE html>
<html lang="es">

    <%- include partials/head -%>

    <body data-barba="wrapper">
        <main class="wrapper bio" data-barba="container" data-barba-namespace="bio">

            <%- include partials/background -%>

            <div class="content container">

                <div class="d-flex flex-column">
                    <div class="row">
                        <div class="col-12">
                            <div class="title" title="Leav Café - Ilustrator & Comic Artist"></div>
                        </div>
                    </div>

                    <%- include partials/links -%>

                    <div class="row flex-grow-1 justify-content-center overflow-auto">
                        <div class="col-12 col-xl-9 h-100">
                            <div class="row text-center">
                                <div class="col-12 text-shadow pt-1">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec scelerisque ante, eu sodales sem.
                                        Nullam condimentum eget lacus eget molestie. Sed pulvinar interdum purus vel sagittis.
                                        In non dui tincidunt, imperdiet mauris a, euismod lorem. Donec fermentum, diam a hendrerit
                                        interdum, purus augue auctor quam, non semper tortor urna eu libero. Nunc ac luctus libero.
                                         Maecenas fringilla odio et sollicitudin accumsan. Mauris lacinia porta laoreet.
                                    </p>

                                    <img class="img-fluid paragraph-separator" src="<%= require('../assets/images/bio-paragraph-separator-1.png') %>" alt="Art" />

                                    <p>
                                        Maecenas eu ultrices nulla, non pellentesque arcu. In quis pretium dolor, in tempus felis.
                                        Ut at mi in est ornare porta. Aliquam erat eros, dignissim nec porttitor a, consectetur at mi.
                                        Pellentesque condimentum ante non lobortis porttitor. Praesent nulla lorem, sodales nec egestas
                                        id, suscipit vel orci. Nulla at augue dui. Vestibulum ligula dui, imperdiet in imperdiet in,
                                        facilisis eget nisi. Sed vel ligula finibus, malesuada dui in, semper lorem.
                                    </p>

                                    <img class="img-fluid paragraph-separator" src="<%= require('../assets/images/bio-paragraph-separator-2.png') %>" alt="Art" />

                                    <p>
                                        Pellentesque et metus posuere, congue sapien vitae, rhoncus sapien. Cras porttitor faucibus nunc
                                        sit amet vulputate. Curabitur ac turpis vehicula mauris rutrum vestibulum ut vitae erat. Donec
                                         sed turpis tortor. Donec sodales eleifend ex. Vivamus venenatis erat mauris, nec pharetra
                                         erat fermentum non. Nulla sed fermentum justo. Sed faucibus sodales quam, vel vehicula
                                         tellus pretium at. Nulla dignissim purus eu orci molestie, eu consequat tortor dignissim.
                                         Donec ornare ultricies libero ac egestas.
                                    </p>

                                    <img class="img-fluid paragraph-separator" src="<%= require('../assets/images/bio-paragraph-separator-3.png') %>" alt="Art" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
