<!DOCTYPE html>
<html lang="es">

    <%- include partials/head -%>

    <body data-barba="wrapper">
        <main class="wrapper bio" data-barba="container" data-barba-namespace="bio">
            <div class="content container">

                <div class="d-flex flex-column">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img class="title" src="<%= require('../assets/images/section-title.png') %>" alt="Leav Café - Ilustrator & Comic Artist" />
                        </div>
                    </div>

                    <%- include partials/links -%>

                    <div class="row thumbnail-list flex-grow-1 justify-content-center">
                    </div>
                </div>
            </div>

            <%- include partials/background -%>
        </main>

        <%- include partials/overlay -%>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
