<!DOCTYPE html>
<html lang="es">

    <%- include partials/head -%>

    <body data-barba="wrapper">
        <main class="wrapper contact" data-barba="container" data-barba-namespace="gallery">

            <%- include partials/background -%>

            <div class="content container">

                <div class="d-flex flex-column h-100">
                    <div class="row">
                        <div class="col-12">
                            <div class="title" title="Leav Café - Ilustrator & Comic Artist">
                                <h1 class="d-none">Leav Café - Ilustrator & Comic Artist - Contact Information</h1>
                            </div>
                        </div>
                    </div>

                    <%- include partials/links -%>

                    <div class="row flex-shrink-1 justify-content-center min-h-0">
                        <div class="col-12 col-xl-9 h-100 text-shadow pt-1 overflow-auto text-justify">

                            <div class="row text-center">
                                <div class="col-12">
                                    <a class="email-button" href="mailto:leavcafe@gmail.com" target="_blank" title="Come on, don't be shy and send me an email">
                                        <img class="img-fluid invisible" src="<%= require('../assets/images/email-address.png') %>" alt="leav77@gmail.com" />
                                    </a>
                                </div>
                                <div class="col-xl-10 offset-xl-1 col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <a class="link-button" href="https://twitter.com/leavcafe" target="_blank" title="Follow me on Twitter!">
                                                <img class="img-fluid" src="<%= require('../assets/images/twitter-link.png') %>" alt="Twitter - leavcafe" />
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a class="link-button" href="https://www.instagram.com/leavcafe/" target="_blank" title="More awesome stuff on my Instagram">
                                                <img class="img-fluid" src="<%= require('../assets/images/instagram-link.png') %>" alt="Instagram - leavcafe" />
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a class="link-button" href="https://ko-fi.com/leavcafe" target="_blank" title="Support me on kofi">
                                                <img class="img-fluid" src="<%= require('../assets/images/kofi-link.png') %>" alt="Kofi - leavcafe" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
