<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <title>Leav Café - Portafolio - Galería</title>
    </head>
    <body data-barba="wrapper">
        <main class="wrapper gallery" data-barba="container" data-barba-namespace="gallery">
            <div class="content container">

                <div class="d-flex flex-column">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img class="title" src="<%= require('../assets/images/section-title.png') %>" alt="Leav Café - Ilustrator & Comic Artist" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="index.html">home</a> |
                            <a href="gallery.html">galeria</a>
                        </div>
                    </div>

                    <div class="row thumbnail-list flex-grow-1">
                        <div class="col-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art1.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art2.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art3.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art4.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art5.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art6.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art7.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art8.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art9.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art10.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art11.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art16.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art12.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art13.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art14.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="thumbnail">
                                        <img src="<%= require('../assets/art/art15.jpg') %>" alt="" class="img-fluid">
                                        <div class="thumbnail-overlay">
                                            <span>Titulo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <%- include partials/background -%>
        </main>

        <%- include partials/overlay -%>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
