<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <title>Leav Café - Portafolio - Home</title>
    </head>
    <body data-barba="wrapper">
        <main class="wrapper home" data-barba="container" data-barba-namespace="home">
            <div class="content container d-flex flex-column">
                <div class="text-center">
                    <img class="title" src="<%= require('../assets/images/home-title.png') %>" alt="Leav Café - Ilustrator & Comic Artist" />
                </div>
                <div class="main-menu flex-grow-1">
                    <a class="button button-1" href="gallery.html"><img src="<%= require('../assets/images/main-menu-button-1.png') %>" alt="Leav Café - Ilustrator & Comic Artist" /></a>
                    <a class="button button-2" href="gallery.html"><img src="<%= require('../assets/images/main-menu-button-2.png') %>" alt="Leav Café - Ilustrator & Comic Artist" /></a>
                    <a class="button button-3" href="gallery.html"><img src="<%= require('../assets/images/main-menu-button-3.png') %>" alt="Leav Café - Ilustrator & Comic Artist" /></a>
                    <a class="button button-4" href="gallery.html"><img src="<%= require('../assets/images/main-menu-button-4.png') %>" alt="Leav Café - Ilustrator & Comic Artist" /></a>
                    <a class="button button-5" href="gallery.html"><img src="<%= require('../assets/images/main-menu-button-5.png') %>" alt="Leav Café - Ilustrator & Comic Artist" /></a>
                </div>
            </div>

            <%- include partials/background -%>
        </main>

        <%- include partials/overlay -%>

        <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
    </body>
</html>
