<div class="row nav-menu mt-1 mb-3">
    <div class="col-12 text-center nounderline">
        <div class="links-container">
            <div class="link-bracket left d-none d-md-inline">
                <img src="<%= require('../assets/images/link-left.png') %>" alt="Menu delimiter">
            </div>
            <a class="link-home" href="index.html"><img src="<%= require('../assets/images/link-home.png') %>" alt="Go back to home"></a>
            <a class="link-illustration" href="gallery.html?category=illustration"><img src="<%= require('../assets/images/link-illustration.png') %>" alt="Go to works"></a>
            <a class="link-comic" href="gallery.html?category=comic"><img src="<%= require('../assets/images/link-comic.png') %>" alt="Go to comics"></a>
            <a class="link-fanart" href="gallery.html?category=fanart"><img src="<%= require('../assets/images/link-fanart.png') %>" alt="Go to fan arts"></a>
            <a class="link-bio" href="bio.html"><img src="<%= require('../assets/images/link-bio.png') %>" alt="Go to bio"></a>
            <a class="link-contact" href="contact.html"><img src="<%= require('../assets/images/link-contact.png') %>" alt="Go to contact"></a>
            <div class="link-bracket right d-none d-md-inline">
                <img src="<%= require('../assets/images/link-right.png') %>" alt="Menu delimiter">
            </div>
        </div>
    </div>
</div>
