<div class="row nav-menu">
    <div class="col-12 text-center nounderline">
        <div class="link-bracket left d-none d-sm-inline">
            <img src="<%= require('../assets/images/link-left.png') %>" alt="">
        </div>
        <a href="index.html"><img src="<%= require('../assets/images/link-home.png') %>" alt="Home"></a>
        <a href="gallery.html?category=illustration"><img src="<%= require('../assets/images/link-illustration.png') %>" alt="Illustrations"></a>
        <a href="gallery.html?category=comic"><img src="<%= require('../assets/images/link-comic.png') %>" alt="Comics"></a>
        <a href="gallery.html?category=fanart"><img src="<%= require('../assets/images/link-fanart.png') %>" alt="FanArt"></a>
        <a href="bio.html"><img src="<%= require('../assets/images/link-bio.png') %>" alt="Bio"></a>
        <a href="contact.html"><img src="<%= require('../assets/images/link-contact.png') %>" alt="Contact"></a>
        <div class="link-bracket right d-none d-sm-inline">
            <img src="<%= require('../assets/images/link-right.png') %>" alt="">
        </div>
    </div>
</div>
